[submodule "chibios"]
	path = chibios
	url = https://github.com/ChibiOS/ChibiOS.git
[submodule "nanopb"]
	path = nanopb
	url = https://github.com/nanopb/nanopb.git
[submodule "CMSIS"]
	path = CMSIS
	url = https://github.com/ARM-software/CMSIS_5.git
